div{
    position: relative;
    height: 400px;
    width: 420px;
    margin: 0 auto;
}
img:first-of-type{
    position: absolute;
}
img:nth-of-type(2){
    position: absolute;
    left: 220px;
    top: -10px;
}
img:nth-of-type(3){
    position: absolute;
    left: 110px;
    top: 200px;
}
img:nth-of-type(4){
    position: absolute;
    left: 82px;
    top: 50px;
}
img:not(:last-of-type):hover{
    z-index: 5;
}