body{
    margin: 0px;
}
.header{
    background-image: url(bckgr_people.png), 
                      url(rectangle.png),
                      url(Vector.png),
                      url(rectangle_2.png),
                      url(bckgr_globe.png),
                      url(black.png);
    background-position: right top, 
                         center top,
                         center 1375px,
                         center 1650px,
                         540px 3220px,
                         center 3402px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}
.container{
    margin: 0 auto;
    width: 1280px;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}
.nav{
    margin-bottom: 100px;
}
.nav_left{
    float: left;
    margin-top: 42px;
}
.spacer{
    clear: both
}
.nav_right{
    float: right;
    font-weight: 500;
    font-size: 12px;
    height: 34px;
    margin-top: 42px;
}
.nav_left img{
    float: left;
}
.splice{
    font-weight: 650;
    font-size: 25px;
    float: left;
    margin-left: 8px;
    margin-right: 43px;
}
.nav_left ul{
    float: left;
    font-weight: 500;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
.nav_left li{
    display: inline-block;
    margin-left: 37px;
    margin-top: 10px;
}
.nav_right button{
    float: right;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    height: 32px;
    width: 109px;
    background-color: rgba(255, 255, 255, 0.26);
    border-style: none;
    border-radius: 105px;
    margin-top: 1px;
    margin-left: 28px;
    padding: 0px;
}
.log_in{
    float: left;
    color: #FFFFFF;
    margin-top: 10px;
}
h1{
    font-weight: 800;
    font-size: 75px;
    line-height: 110%;
    margin: 0px;
}
.main p{
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #595959;
    margin-top: 23px;
    margin-bottom: 0px;
}
.main button{
    font-size: 13px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    height: 38px;
    width: 126px;
    background-color: #0033FF;
    border-style: none;
    border-radius: 105px;
    margin-top: 34px;
    padding: 0px;
}
.featured{
    font-weight: 550;
    font-size: 13px;
    color: #606060;
    margin-top: 322px;
    margin-bottom: 30px;
    text-align: center;
}
.img_featured{
    text-align: center;
}
.img_featured img:nth-child(-n+4){
    margin-right: 79px;
}
.sounds{
    margin-top: 127px;
    margin-bottom: 140px;
    text-align: center;
}
.sounds_p1{
    font-weight: 700;
    font-size: 16px;
    color: rgb(96, 96, 96, 0.5);
    margin-top: 0px;
    margin-bottom: 3px;
}
.sounds_p2{
    font-weight: 800;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 18px;
}
.sounds_p2 span{
    color: #0033FF;
}
.sounds_p3{
    font-weight: 400;
    font-size: 18px;
    color: #958A8A;
    margin-top: 0px;
    margin-bottom: 34px;
    line-height: 170%;
}
.sounds button{
    font-size: 13px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    height: 38px;
    width: 163px;
    background-color: #0033FF;
    border-style: none;
    border-radius: 105px;
    margin-bottom: 50px;
    padding: 0px;
}
.plugins{
    margin: 0 auto;
    width: 1150px;
}
.plugins img{
    float: left;
    margin-right: 220px;
   
}
.text_plugins{
    float: left;
    margin-top: 120px;
}
.text_plugins p:first-of-type{
    font-weight: 700;
    font-size: 16px;
    color: rgb(96, 96, 96, 0.5);
    margin-top: 0px;
    margin-bottom: 3px;
}
.text_plugins p:nth-of-type(2) {
    font-weight: 800;
    font-size: 48px;
    line-height: 108%;
    margin-top: 0px;
    margin-bottom: 18px;
}
.text_plugins span{
    color: #0033FF;
}
.text_plugins p:nth-of-type(3) {
    font-weight: 400;
    font-size: 18px;
    color: #958A8A;
    margin-top: 0px;
    margin-bottom: 34px;
    line-height: 170%;
}
.text_plugins button{
    font-size: 13px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    height: 38px;
    width: 143px;
    background-color: #0033FF;
    border-style: none;
    border-radius: 105px;
    padding: 0px;
}
.studio{
    margin: 0 auto;
    width: 1150px;
    padding-top: 110px;
}
.text_studio{
    float: left;
    margin-top: 126px;
    margin-right: 177px;
}
.text_studio p:first-of-type{
    font-weight: 700;
    font-size: 16px;
    color: rgb(96, 96, 96, 0.5);
    margin-top: 0px;
    margin-bottom: 3px;
}
.text_studio p:nth-of-type(2) {
    font-weight: 800;
    font-size: 48px;
    line-height: 108%;
    margin-top: 0px;
    margin-bottom: 18px;
}
.text_studio span{
    color: #0033FF;
}
.text_studio p:nth-of-type(3) {
    font-weight: 400;
    font-size: 18px;
    color: #958A8A;
    margin-top: 0px;
    margin-bottom: 34px;
    line-height: 170%;
}
.studio button{
    font-size: 13px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    height: 38px;
    width: 156px;
    background-color: #0033FF;
    border-style: none;
    border-radius: 105px;
    padding: 0px;
}
.studio img{
    float: left;
}
.creators{
    margin: 0 auto;
    padding-top: 400px;
}
.text_creators{
    float: left;
    margin-top: 88px;
    margin-right: 170px;
}
.text_creators p:first-of-type{
    font-weight: 800;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 108%;
    margin-top: 0px;
    margin-bottom: 22px;
}
.text_creators p:nth-of-type(2) {
    font-weight: 400;
    font-size: 18px;
    color: #958A8A;
    margin-top: 0px;
    margin-bottom: 40px;
    line-height: 170%;
}
.text_creators span{
    color: #0033FF;
}
.creators button{
    font-size: 13px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    height: 38px;
    width: 154px;
    background-color: #0033FF;
    border-style: none;
    border-radius: 105px;
    padding: 0px;
}
.card_1{
    float: left;
    width: 290px;
    height: 216px;
    padding: 28px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #202020;
    color: #FFFFFF;
    margin-right: 40px;
    margin-bottom: 40px;
}
.card_1 p{
    font-weight: 600;
    font-size: 18px;
    line-height: 108%;
    margin-top: 0px;
    margin-bottom: 25px;
}
.card_1 img{
    float: left;
    margin-right: 10px;
}
.card_1_artist{
    float: left;
}
.card_1_artist p:first-of-type{
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 4px;
}
.card_1_artist p:nth-of-type(2) {
    font-size: 10px;
    font-weight: 200;
    margin: 0px;
}
.card_2{
    float: left;
    width: 290px;
    height: 216px;
    padding: 28px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #202020;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.card_2 p{
    font-weight: 600;
    font-size: 18px;
    line-height: 108%;
    margin-top: 0px;
    margin-bottom: 25px;
}
.card_2 img{
    float: left;
    margin-right: 10px;
}
.card_2_artist{
    float: left;
}
.card_2_artist p:first-of-type{
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 4px;
}
.card_2_artist p:nth-of-type(2) {
    font-size: 10px;
    font-weight: 200;
    margin: 0px;
}
.card_3{
    float: left;
    width: 290px;
    height: 216px;
    padding: 28px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #202020;
    color: #FFFFFF;
    margin-left: 90px;
    margin-right: 40px;
}
.card_3 p{
    font-weight: 600;
    font-size: 18px;
    line-height: 108%;
    margin-top: 0px;
    margin-bottom: 25px;
}
.card_3 img{
    float: left;
    margin-right: 10px;
}
.card_3_artist{
    float: left;
}
.card_3_artist p:first-of-type{
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 4px;
}
.card_3_artist p:nth-of-type(2) {
    font-size: 10px;
    font-weight: 200;
    margin: 0px;
}
.card_4{
    float: left;
    width: 290px;
    height: 216px;
    padding: 28px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #202020;
    color: #FFFFFF;
}
.card_4 p{
    font-weight: 600;
    font-size: 18px;
    line-height: 108%;
    margin-top: 0px;
    margin-bottom: 25px;
}
.card_4 img{
    float: left;
    margin-right: 10px;
}
.card_4_artist{
    float: left;
}
.card_4_artist p:first-of-type{
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 4px;
}
.card_4_artist p:nth-of-type(2) {
    font-size: 10px;
    font-weight: 200;
    margin: 0px;
}